/* .active {
  color: red;
} */

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #12a42f;
  transition: 0.3;
  background: #f3fff3;
  padding: 10px 15px 10px 60px;
  border-radius: 4px;
}

.sidebar-nav .nav-link::before {
  content: "";
  background: #12a42f;
  position: absolute;
  left: 0px;
  width: 4px;
  display: block;
  height: 24px;
  z-index: 999;
}
.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #12a42f;
}
.sidebar-nav .nav-link .icon path::before {
  fill: #12a42f;
}
