.modal-contentz {
  margin-left: -517px;
  width: 1619px !important;

  border-radius: 20px !important;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  height: 465px !important;
  margin-top: -271px;
}
.form-group {
  width: 387px;
  margin-top: 24px;
  height: 40px;
  margin-left: 67px;
}
.modal-footer {
  margin-top: -25px;
}
.modal-bodyz {
  width: 1530px;
}
.coordinator {
  margin-top: -2px !important;
}
